{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}

    <label>Employee</label>
    {{ appraisal_form.employee }}
    {% if appraisal_form.employee.errors %}
        {% for error in appraisal_form.employee.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <label>Supperior</label>
    {{ appraisal_form.superior }}
    {% if appraisal_form.superior.errors %}
        {% for error in appraisal_form.superior.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
{#    {{ appraisal_form.as_p }}#}

    <hr>

    {{ question_formset.management_form }}

    {% for question_form in question_formset %}
        <div class="question-formset">
            {{ question_form.title }}
            {% if question_form.title.errors %}
                {% for error in question_form.title.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ question_form.description }}
            {% if question_form.description.errors %}
                {% for error in question_form.description.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ question_form.rank }}
            {% if question_form.rank.errors %}
                {% for error in question_form.rank.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    {% if question_formset.non_form_errors %}
        {% for error in question_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
    <input type="submit" value="Create appraisal" class="button"/>
</form>

<!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.question-formset').formset({
        addText: 'add question',
        deleteText: 'remove'
    });
</script>
{% endblock content %}